@model CompetencyManagement.Model.AllSkillViewModels

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />

<!-- DataTables -->
<link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<div class="row">
    
    <div class="col-md-12">
        <div class="col-md-6">
            <button class="btn btn-block btn-outline-warning">@Html.ActionLink("Add New Department Wise Skill", "Create")</button>
        </div>
        <br />
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title">Department Wise Skills List</h3>
            </div>
            <!-- /.card-header -->
            <!-- /.card-header -->
            <div class="card-body">
                <table class="table table-striped table-hover table-bordered" id="FitsTable">
                    <thead>
                        <tr>
                            <th width="20%">Department</th>
                            <th width="20%">Main Category</th>
                            <th width="20%">Sub Category</th>
                            <th width="20%">Skills</th>
                            <th width="20%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var departmentrow in Model.Departments)
                        {
                        <tr>
                            <td>

                                @Html.DisplayFor(modelItem => departmentrow.DepartmentName)

                            </td>
                            <td colspan="4">
                                <table width="100%" cellpadding="0" cellspacing="0">
                                    @foreach (var deptItem in Model.DmCategories)
                                    {
                                        if (deptItem.Id == departmentrow.Id)
                                        {

                                            foreach (var row in Model.DmCategories)
                                            {
                                                <tr>

                                                    <td>

                                                        @Html.DisplayFor(modelItem => row.DmCategoryName)

                                                    </td>
                                                    <td colspan="3">

                                                        <table width="100%" cellpadding="0" cellspacing="0">
                                                            @foreach (var catItem in Model.DsCategories)
                                                            {
                                                                if (catItem.DmCategoryId == row.Id)
                                                                {
                                                                    <tr>
                                                                        <td width="40%">
                                                                            @Html.DisplayFor(modelItem => catItem.DsCategoryName)
                                                                        </td>
                                                                        <td width="60%">
                                                                            <table width="100%">

                                                                                @foreach (var skillItem in Model.dSkillsAssignments)
                                                                                {
                                                                                    if (skillItem.Dskill.DsCategoryId == catItem.Id)
                                                                                    {

                                                                                        <tr>
                                                                                            <td width="50%">
                                                                                                @Html.DisplayFor(modelItem => skillItem.Dskill.DskillName)
                                                                                            </td>
                                                                                            <td width="50%">
                                                                                                @Html.ActionLink("Update", "Edit", new { id = skillItem.Id }) |
                                                                                                @Html.ActionLink("Delete", "Delete", new { id = skillItem.Id })
                                                                                            </td>
                                                                                        </tr>
                                                                                    }
                                                                                }
                                                                            </table>

                                                                        </td>
                                                                    </tr>
                                                                }


                                                            }

                                                        </table>



                                                    </td>

                                                </tr>
                                            }



                                        }
                                    }
                                </table>
                                </td>
                        </tr>
                      }





                    </tbody>


                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script>
        $('#FitsTable').DataTable({
            "bFilter": true,
            "bLengthChange": false
        });
    </script>
}

