@model CompetencyManagement.Model.AllSkillViewModels
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />

    <!-- DataTables -->
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="col-md-6">
                <button class="btn btn-block btn-outline-warning">@Html.ActionLink("Add New Department Wise Main Category", "Create")</button>
            </div>
            <br />
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Department Wise Main Category List</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table class="table table-striped table-hover table-bordered" id="FitsTable">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Main Category</th>
                                <th>Sub Category</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var row in Model.DmCategories)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => row.Id)
                                </td>
                                <td>

                                    @Html.DisplayFor(modelItem => row.DmCategoryName)

                                </td>
                                <td colspan="2">

                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        @foreach (var catItem in Model.DsCategories)
                                        {
                                            if (catItem.DmCategoryId == row.Id)
                                            {
                                                <tr>
                                                    <td width="60%">
                                                        @Html.DisplayFor(modelItem => catItem.DsCategoryName)
                                                    </td>
                                                    <td width="40%">
                                                        @Html.ActionLink("Update", "Edit", new { id = catItem.Id }) |
                                                        @Html.ActionLink("Delete", "Delete", new { id = catItem.Id })
                                                    </td>
                                                </tr>
                                            }


                                        }

                                    </table>



                                </td>

                            </tr>
                            }

                            


                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

        <script>
            $('#FitsTable').DataTable({
                "bFilter": true,
                "bLengthChange": false
            });
        </script>
    }
